<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>MasterTransactionTypeAdd</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
<nav th:replace="menu :: menu"></nav>
<!-- nav completed-->
<!-- main part started-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="sidebar :: sidebar"></nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <h3>Master transaction type
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left" viewBox="0 0 16 16" onclick="history.go(-1);" style="float: right; ">
                    <path fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>

                </svg>
            </h3>
            <!-- <form>
               <div class="form-row">
                 <div class="col">
                   <input type="text" class="form-control" placeholder="Transaction type name">
                 </div>
                 <div class="col">
                   <input type="text" class="form-control" placeholder="Code of transaction type">
                 </div>
               </div>
             </form>-->
            <form th:if="${isAdd}" th:action="@{/saveMasterTransactionType}" th:object="${masterTransactionType}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label>Master transaction type</label>
                    <input type="text" th:field="*{name}" class="form-control mb-4 col-4"
                           placeholder="Enter Master transaction type">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                          style="color:red; font-style:italic;"></span>
                </div>
                <div class="form-group">
                    <label>Master transaction code</label>
                    <input type="text" th:field="*{code}" class="form-control mb-4 col-4"
                           placeholder="Enter Master transaction code">
                    <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
                          style="color:red; font-style:italic;"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <form th:if="${isUpdate}" th:action="@{/saveMasterTransactionTypeUpdate}" th:object="${masterTransactionType}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label>Master transaction type</label>
                    <input type="text" th:field="*{name}" class="form-control mb-4 col-4"
                           placeholder="Enter Master transaction type">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                          style="color:red; font-style:italic;"></span>
                </div>
                <div class="form-group">
                    <label>Master transaction code</label>
                    <input type="text" th:field="*{code}"readonly class="form-control-plaintext mb-4 col-4"
                           placeholder="Enter Master transaction code">
                    <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
                          style="color:red; font-style:italic;"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div th:if="${isAdd}">
                <hr>
                <p style="color: red">Warning*</p>
                <p>Code for Deposit should be 1001</p>
                <p>Code for Withdraw should be 1002</p>
                <p>Code for TopUp should be 1003</p>
                <p>Code for IBFT should be 1004</p>
                <p>Otherwise application might not perform as expected</p>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>