<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Customer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
<nav th:replace="menu :: menu"></nav>
<!-- nav completed-->
<!-- main part started-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="sidebar :: sidebar"></nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-arrow-left" viewBox="0 0 16 16" onclick="history.go(-1);" style="float: right; ">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>

            </svg>
            <h3 th:text="${customer.fullName}" >
            </h3>
            <hr>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label><i>Address</i></label>
                        <input type="text" readonly class="form-control-plaintext" th:value="${customer.address}">
                    </div>
                    <div class="form-group col-md-6">
                        <label><i>Mobile Number</i></label>
                        <input type="text" readonly class="form-control-plaintext" th:value="${customer.mobileNumber}">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label><i>Identity Type</i></label>
                        <input type="text" readonly class="form-control-plaintext" th:value="${customer.idTypeId.name}">
                    </div>
                    <div class="form-group col-md-6">
                        <label><i>Identity Value</i></label>
                        <input type="text" readonly class="form-control-plaintext" th:value="${customer.idValue}">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label><i>Email Address</i></label>
                        <input type="text" readonly class="form-control-plaintext" th:value="${customer.emailAddress}">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label><i>Date Of Birth</i></label>
                            <input type="text" readonly class="form-control-plaintext"
                                   th:value="${customer.dateOfBirth}">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div th:if="${customer.setParent}" class="form-group col-md-6">
                        <label><i>Parent Name</i></label>
                        <input type="text" readonly class="form-control-plaintext"
                               th:value="${customer.getParentName()}">
                    </div>
                    <div class="form-group col-md-6">
                        <label><i>Is Premium?</i></label>
                        <input type="text" readonly class="form-control-plaintext" th:value="${customer.isPremium}">
                    </div>
                    <div class="form-group col-md-6">
                        <label><i>Google Plus Code</i></label>
                        <input type="text" readonly class="form-control-plaintext" th:value="${customer.getGooglePlusCode()}">
                    </div>
                </div>
                <hr>

            </form>


            <!--
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th> Full Name</th>
                                <th> Mobile Number</th>
                                <th> Email Address</th>
                                <th> Address</th>
                                <th> Google Plus Code</th>
                                <th> Is Premium?</th>
                                <th> Date Of Birth</th>
                                <th> Identity Type</th>
                                <th> Identity Value</th>
                                <th> Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="customer :${listOfCustomers}">
                                <td th:text="${customer.fullName}"></td>
                                <td th:text="${customer.mobileNumber}"></td>
                                <td th:text="${customer.emailAddress}"></td>
                                <td th:text="${customer.address}"></td>
                                <td th:text="${customer.googlePlusCode}"></td>
                                <td th:text="${customer.isPremium}"></td>
                                <td th:text="${customer.dateOfBirth}"></td>
                                <td th:text="${customer.idTypeId.name}"></td>
                                <td th:text="${customer.idValue}"></td>

                                <td><a th:href="@{/updateCustomer/{id}(id=${customer.id})}"
                                       class="btn btn-primary btn-sm">Update</a>
                                    <hr>
                                    <a th:href="@{/deleteCustomer/{id}(id=${customer.id})}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>-->
            <!--            <a th:href="@{/addCustomer}" type="button" class="btn btn-success"> Add Customer </a>-->
        </main>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>