<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>MasterTransactionTypeAdd</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
<nav th:replace="menu :: menu"></nav>
<div class="container-fluid">
    <div class="row">
        <nav th:replace="sidebar :: sidebar"></nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <h3> Master transaction type list
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left" viewBox="0 0 16 16" onclick="history.go(-1);" style="float: right; ">
                    <path fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </h3>
            <hr>
            <a th:href="@{/addMasterTransactionType}" type="button" class="btn btn-primary btn-sm mb-3"> Add Master
                Transaction
                Type </a>
            <hr>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th> Name</th>
                    <th> Code</th>
                    <th> Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="masterTransactionType :${listMasterTransactionType}">
                    <td th:text="${masterTransactionType.name}"></td>
                    <td th:text="${masterTransactionType.code}"></td>
                    <td><a th:href="@{/updateMasterTransactionType/{id}(id=${masterTransactionType.id})}"><i class="fas fa-edit" aria-hidden="true"></i></a>
                        <!--<a th:href="@{/deleteMasterTransactionType/{id}(id=${masterTransactionType.id})}"
                           class="btn btn-danger">Delete</a>--></td>
                </tr>
                </tbody>
            </table>

        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>