<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Transaction: Top Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
<nav th:replace="menu :: menu"></nav>
<!-- nav completed-->
<!-- main part started-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="sidebar :: sidebar"></nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-arrow-left" viewBox="0 0 16 16" onclick="history.go(-1);" style="float: right; ">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            <h3 th:text="${transaction.transactionTypeId.name}">
            </h3>
            <hr>
            <hr>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>From Account Number</label>
                        <input type="text" readonly class="form-control-plaintext" th:value="${transaction.accountId.accountNumber}">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Transaction Amount</label>
                        <input type="text" readonly class="form-control-plaintext" th:value="${transaction.amount}">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <!--<div class="form-group col-md-6">
                        <label>Cash Back Applicable?</label>
                        <input type="text" readonly class="form-control-plaintext"
                               th:value="${transaction.cashBackApplicable}">
                    </div>-->
                    <div class="form-group col-md-6">
                        <label>Date of transaction</label>
                        <input type="text" readonly class="form-control-plaintext"
                               th:value="${transaction.dateOfTransaction}">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Status</label>
                        <input type="text" readonly class="form-control-plaintext" th:value="${transaction.status}">
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>To Mobile Number</label>
                        <input type="text" readonly class="form-control-plaintext"
                               th:value="${transaction.toMobileNumber}">
                    </div>
                </div>
                <hr>
            </form>
        </main>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>