<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Transaction List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
<nav th:replace="menu :: menu"></nav>
<!-- nav completed-->
<!-- main part started-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="sidebar :: sidebar"></nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <h3> Account List
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left" viewBox="0 0 16 16" onclick="history.go(-1);" style="float: right; ">
                    <path fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </h3>
            <form class="form-inline my-2 my-lg-0" style="float: right" th:action="@{/searchAccount}" th:object="${search}" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="Account Number" aria-label="Search" th:field="*{searchValue}"/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle btn-sm mb-3" type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter By
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!--<div th:each="transactionType :${TransactionList.masterTransactionTypeModelList}">-->
                            <div>
                                <a class="dropdown-item" th:href="@{/filterFDAccountList}">
                                    Fixed Deposit</a>
                            </div>
                            <div>
                                <a class="dropdown-item" th:href="@{/filterSAAccountList}">
                                    Saving Account</a>
                            </div>
                            <div>
                                <a class="dropdown-item" th:href="@{/filterCAAccountList}">
                                    Current Account</a>
                            </div>
                            <div>
                                <a class="dropdown-item" th:href="@{/accountList}">
                                    All Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th> User Name</th>
                    <th> Account Number</th>
                    <th> Balance</th>
                    <!--<th> Address</th>-->
                    <th> Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account :${accountList}">
                    <!--<td th:text="${account.getCustomerId().getFullName()}"></td>-->
                    <td th:text="${account.getCustomerId().getFullName()}"></td>
                    <td th:text="${account.getAccountNumber()}"></td>
                    <td th:text="${account.getBalance()}"></td>
                    <!--<td th:text="${customer.address}"></td>-->
                    <td><a th:href="@{/accountIndex/{id}(id=${account.id})}">
                        <i class="fa fa-eye"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>