<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Master I'd Type</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
<nav th:replace="menu :: menu"></nav>
<!-- nav completed-->
<!-- main part started-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="sidebar :: sidebar"></nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <h1>Oops, no such service is available</h1>
        </main>
    </div>
</div>
</body>
</html>