<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction Form: IBFT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
<nav th:replace="menu :: menu"></nav>
<!-- nav completed-->
<!-- main part started-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="sidebar :: sidebar"></nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <h3> Transaction
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left" viewBox="0 0 16 16" onclick="history.go(-1);" style="float: right; ">
                    <path fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </h3>
            <form th:action="@{/saveTransactionIBFT}" th:object="${transaction}" method="POST">
                <input type="hidden" th:field="*{transactionTypeId}"/>
                <div>
                    <!--                    <label>TransactionType</label>-->
                    <input type="text" readonly class="form-control-plaintext mb-4 col-4" id="staticEmail2"
                           th:value="${transaction.transactionTypeId.name}">
                    <!--     <input type="text" readonly class="form-control-plaintext mb-4 col-4"
                                th:text= "${depositTransaction.transactionTypeId.name}">-->
                    <span th:if="${#fields.hasErrors('transactionTypeId')}" th:errors="*{transactionTypeId}"
                          style="color:red; font-style: italic;"></span>
                </div>
                <div>
                    <label>Account Number</label>
                    <input type="text" th:field="*{accountId.accountNumber}" required class="form-control mb-4 col-4">
                    <span th:if="${#fields.hasErrors('accountId')}" th:errors="*{accountId}"
                          style="color:red; font-style: italic;"></span>
                </div>
                <div>
                    <label>Amount</label>
                    <input type="text" th:field="*{amount}" class="form-control mb-4 col-4">
                    <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
                          style="color:red; font-style: italic;"></span>
                </div>
                <div>
                    <label>To Account Number</label>
                    <input type="text" th:field="*{toAccountNumber}" class="form-control mb-4 col-4">
                    <span th:if="${#fields.hasErrors('toAccountNumber')}" th:errors="*{toAccountNumber}"
                          style="color:red; font-style: italic;"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </main>
    </div>
</div>
</body>
</html>