<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Transaction List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
<nav th:replace="menu :: menu"></nav>
<!-- nav completed-->
<!-- main part started-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="sidebar :: sidebar"></nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <h3> Transaction list
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left" viewBox="0 0 16 16" onclick="history.go(-1);" style="float: right; ">
                    <path fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>

                </svg>
            </h3>
            <form class="form-inline my-2 my-lg-0" style="float: right" th:action="@{/searchAccountTransaction}" th:object="${search}" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="Account Number" aria-label="Search" th:field="*{searchValue}"/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle btn-sm mb-3" type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Perform Transaction
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div th:each="transactionType :${TransactionList.masterTransactionTypeModelList}">
                                <a class="dropdown-item" th:href="@{/transaction/{id}(id=${transactionType.id})}"
                                   th:text="${transactionType.name}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle btn-sm mb-3" type="button"
                                id="dropdownMenuButtons"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter Transaction
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtons">
                            <div>
                                <a class="dropdown-item" th:href="@{/sortTransactionByDate}"> Sort By Date </a>
                            </div>
                            <div>
                                <a class="dropdown-item" th:href="@{/getTransactionByDeposit}"> Get Deposit only</a>
                            </div>
                            <div>
                                <a class="dropdown-item" th:href="@{/getTransactionByWithdraw}"> Get Withdraw only</a>
                            </div>
                            <div>
                                <a class="dropdown-item" th:href="@{/getTransactionByTU}"> Get Top Up only</a>
                            </div>
                            <div>
                                <a class="dropdown-item" th:href="@{/getTransactionByIBFT}"> Get IBFT only</a>
                            </div>
                            <div>
                                <a class="dropdown-item" th:href="@{/transactionList}"> Get all </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th> Account Number</th>
                    <th> Transaction Type</th>
                    <th> Amount</th>
                    <th> Status</th>
                    <th> Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction :${TransactionList.accountTransactionModelList}">
                    <td th:text="${transaction.accountId.accountNumber}"></td>
                    <td th:text="${transaction.transactionTypeId.name}"></td>
                    <td th:text="${transaction.amount}"></td>
                    <td th:text="${transaction.status}"></td>
                    <td><a th:href="@{/viewTransaction/{id}(id=${transaction.id})}"
                    ><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>