<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Update Customer</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
<nav th:replace="menu :: menu"></nav>
<!-- nav completed-->
<!-- main part started-->
<div class="container-fluid">
    <div class="row">
        <nav th:replace="sidebar :: sidebar"></nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <h3> Update customer
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left" viewBox="0 0 16 16" onclick="history.go(-1);" style="float: right; ">
                    <path fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>

                </svg>
            </h3>
            <form th:action="@{/updateCustomer}" th:object="${customer}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                <div class="row">
                    <div class="col">
                        <label>Name of customer *</label>
                        <input type="text" th:field="*{fullName}" class="form-control"
                               placeholder="Enter name of customer">
                        <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
                              style="color:red; font-style:italic;"></span>
                    </div>
                    <div class="col">
                        <label>Mobile number *</label>
                        <input type="text" th:field="*{mobileNumber}" class="form-control"
                               placeholder="Enter mobile number">
                        <span th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}"
                              style="color:red; font-style:italic;"></span>
                    </div>
                    <div class="col">
                        <label>Email address *</label>
                        <input type="email" th:field="*{emailAddress}" class="form-control"
                               placeholder="Enter email address">
                        <span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"
                              style="color:red; font-style:italic;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Address *</label>
                        <input type="text" th:field="*{address}" class="form-control" placeholder="Enter address">
                        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                              style="color:red; font-style:italic;"></span>
                    </div>
                    <div class="col">
                        <label>Google plus code</label>
                        <input type="text" th:field="*{googlePlusCode}" class="form-control"
                               placeholder="Enter google plus code">
                        <span th:if="${#fields.hasErrors('googlePlusCode')}" th:errors="*{googlePlusCode}"
                              style="color:red; font-style:italic;"></span>
                    </div>
                    <!--<div class="col">
                  <label >Is premium</label>
                  <input type="text" th:field= "*{isPremium}" class="form-control"   placeholder="Enter google plus code">
                  <span th:if="${#fields.hasErrors('isPremium')}" th:errors="*{isPremium}" style="color:red; font-style:italic;"></span>
              </div>-->
                    <div class="col">
                        <label>Date of birth format *</label>
                        <input type="date" th:field="*{dateOfBirth}" class="form-control"
                               placeholder="Enter date of birth">
                        <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"
                              style="color:red; font-style:italic;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Customer identity type</label>
                        <input type="text" th:field="*{idTypeId}" hidden class="form-control"
                               placeholder="Enter identity value">
                        <input type="text" th:value="*{idTypeId.name}" readonly class="form-control"
                               placeholder="Enter identity value">

                        <!--<select class="form-control mb-4 col-12" th:field="*{masterId}">
                            <option
                                    th:each="identity : ${customer.masterIdTypeModelList}"
                                    th:value="${identity.id}"
                                    th:text="${identity.name}"
                            ></option>
                        </select>-->
                    </div>
                    <div class="col">
                        <label>Identity value *</label>
                        <input type="text" th:field="*{idValue}" readonly class="form-control"
                               placeholder="Enter identity value">
                        <span th:if="${#fields.hasErrors('idValue')}" th:errors="*{idValue}"
                              style="color:red; font-style:italic;"></span>
                    </div>
                    <div class="col"><label>Account type</label>
                        <input readonly class="form-control mb-4 col-12" th:field="*{accountModel.accountType}" }>
                        <input type="hidden" th:field="*{accountModel.id}"/>
                        <!-- <option
                                 th:each="identity : ${T(com.bank.demo.model.enums.AccountType).values()}"
                                 th:value="${identity}"
                                 th:text="${identity.displayAccountName}"
                         ></option>-->
                        <!--</select>--></div>

                </div>
                <div class="row">
                    <div th:if="${customer.setParent}" class="col">
                        <input type="hidden" th:field="*{setParent}" th:value="true"/>
                        <label>Parent Name *</label>
                        <input type="text" th:field="*{parentName}" class="form-control"
                               placeholder="Enter identity value">
                        <span th:if="${#fields.hasErrors('parentName')}" th:errors="*{parentName}"
                              style="color:red; font-style:italic;"></span>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>